<html>
<head>
<style>

body {

	background-image: url(/assets/background.jpg); 
	background-position: center; 
	 
}

</style>
</head>

<h1>Hotline</h1>
<p> Coming soon...</p>
<br/>
<br/>

<img src="/assets/googleplay.png" align="center">


</html>
